* {
  box-sizing: border-box;
  font-family: sans-serif;
}
h1 {
  font-size: 45px;
  text-align: center;
}
article {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  height: 1168px;
  padding: 40px;
}
.elon-musk {
  background-color:rgb(248, 221, 185);
  border-right: 1px solid black;
}
.name {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  width: 65%;
  height: 260px;
  display: inline-block;
  margin-right: 5%;
  vertical-align: top;
  padding-top: 15px;
}
.photo {
  width: 30%;
  display: inline-block;
}
h2 {
  font-size:45px;
  text-align: left;
  margin-bottom: 10px;
}
.signature {
  background-color: rgb(255, 255, 255);
}
.round-photo {
  width: 100%;
  border-radius: 50%;
}
.jeff-bezos {
  background-color: rgb(156, 214, 216);
  border-left: 1px solid black;
}